.main#news {
    // Section news
    .scnews {
        --pdt-section: var(--header-height);
        padding-top: var(--pdt-section);
        // Textbox
        &__textbox {
            @include flex-mid-between;
            gap: var(--gap);
        }
        // Article list
        .sclastprojects__articlelist {
            @include transition(var(--transition-duration));
            // Group
            &-group {
                // Article
                .article {
                    // Textbox
                    .textbox {
                        max-width: 635px;
                    }
                }
            }
        }
        // Responsive
        @include sm {
            // Textbox
            &__textbox {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }
    }
}
